<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>IOT</b>BK</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Change temporary password to sign in.</p>

    <form novalidate name="form">
      <div class="form-group {{ (form.username.$dirty && form.username.$invalid) ? 'has-warning' : '' }}">
        <input type="username" class="form-control" placeholder="Username"
          name="username" ng-model="username" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      
      <div class="form-group {{ (form.old_password.$dirty && form.old_password.$invalid) ? 'has-warning' : '' }}">
        <input type="password" class="form-control" placeholder="Old Password (*)"
          name="old_password" ng-model="old_password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group {{ (form.new_password.$dirty && form.new_password.$invalid) ? 'has-warning' : '' }}">
        <input type="password" class="form-control" placeholder="New Password (*)"
          name="new_password" ng-model="new_password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group
        {{ (form.confirm_new_password.$dirty && form.confirm_new_password.$invalid) ? 'has-warning' : '' }}">
        <input type="password" class="form-control" placeholder="Confirm New Password (*)"
          name="confirm_new_password" ng-model="confirm_new_password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <!-- Failed -->
      <div class="alert alert-warning alert-dismissible" ng-show="failed">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-warning"></i> Alert!</h4>
        {{ error }}
      </div>

      <div class="alert alert-success alert-dismissible" ng-show="!!success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Success!</h4>
        {{ success }}
      </div>

      <div class="overlay" ng-show="showSpin">
        <i class="fa fa-refresh fa-spin"></i>
        {{ spinText }}
      </div>
      
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" ng-disabled="form.$invalid" ng-click="doChangeTempPassword()" class="btn btn-primary btn-block btn-flat">Change</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->